#loginbtn {
   box-shadow:  1px 2px 4px black;
   background-color: #01447C;
}
#loginbtn:hover {
   box-shadow:  3px 5px 10px black;
   background-color: #01294a;   
}

#refreshbtn {
    background-color: #01447C;
}

#refreshbtn:hover {
   background-color: #01294a; 
    
}

#container{
    box-shadow:  2px 4px 8px  black;
}
#container:hover {
    box-shadow:  5px 5px 5px  black; 

}