.loginbtn {
   background-color: #01447C;
}
.loginbtn:hover {
   background-color: #013560;   
}


.login-main-btn {
   background-color: #01447C;
}
.login-main-btn:hover {
   background-color: #013560;   
}


.refreshbtn {
    background-color: #01447C;
}

.refreshbtn:hover {
   background-color: #013560; 
    
}

#container{
    box-shadow:  2px 4px 8px  black;
}
#container:hover {
    box-shadow:  5px 5px 5px  black; 

}

.deletebtn{
      background-color: white;
      
}
.deletebtn:hover {
      background-color: #e0e3e4;
}